{% extends "navbarmanagement.html" %}
{% block content %}

<section id="main-content">
      <section class="wrapper">
        
        <!-- page start-->
        <div class="row" style="text-align: center;margin-left:250px; ">
          <div class="col-sm-6">
            <section class="panel">
              <header class="panel-heading">
               <b> SUGGESTIONS 
              </header>
              <table class="table">
               {% for i in data %}
              
				          <tr> {{ i[1] }}
				        </tr>
				       <br>
				      {% endfor %}
              </table>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
  
    <!--main content end-->
       
{% endblock %}